@charset "UTF-8";

/*** more-btn ***/
.more-btn {
  padding: 5px 32px 5px 11px;
  font-family: var(--font-en);
  cursor: pointer;
  position: relative;
}
.more-btn span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.3em;
  width: 25px;
  position: absolute;
  top: 40%;
  right: -25px;
  transform: translate(-50%, -50%);
}
.more-btn span::before{
  content: "";
  background-color: #000;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

/*** contents-title ***/
.contents-title {
  font-family: var(--font-en);
  font-weight: 900;
  font-size: var(--title-font-small);
  line-height: 1.2;
  margin-bottom: -10px 0 16px;
}
/*** contents-des ***/
.contents-des {
  font-weight: 700;
  font-size: var(--main-font-15);
  line-height: 1.6;
  margin-bottom: 16px;
  word-wrap: break-word;
}

/*** contents ***/
/* main */
.main {
  padding: 143px 0 32px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.main .main-slide-img {
  padding: 0 16px 0;
  width: 100%;
  height: 34.6919vh;
  margin: 0 auto;
}
.main .main-slide-img .slide-wrapper {
  width: 100%;
  height: 100%;
  border-width: 80%;
  position: relative;
}
.main .main-slide-img .slide-wrapper .slide-img {
  text-indent: -9999px;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
}
.main .main-slide-img .slide-wrapper {
  animation: mainSlideImg 65s infinite;
}
.main .txt-wrapper {
  padding: 0px 16px;
}
.main .txt-wrapper .main-txt {
  padding: 30px 16px;
  font-size: calc(1.3vw + 12px);
  line-height: 1.5;
  font-weight: 700;
  word-wrap: break-word;
}
.main .more-btn {
  transition: 0.3s;
}

/* locations */
.locations {
  border-bottom: 1px solid #000;
  padding-bottom: 32px;
  overflow: hidden;
}
.locations .locations-title {
  padding: 32px 16px 0;
}
.locations .locations-title .swiper-pagination {
  position: static;
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.locations .locations-title .swiper-pagination .swiper-pagination-bullet {
  width: unset;
  min-width: fit-content;
  height: unset;
  color: var(--main-color);
  text-align: center;
  font-weight: 600;
  font-family: var(--font-en);
  border: 1px solid #000;
  padding: 6px 12px 5px;
  cursor: pointer;
  position: relative;
}
.locations .locations-title .swiper-pagination .swiper-pagination-bullet:nth-child(1):before {
  content: "Goseong";
}
.locations .locations-title .swiper-pagination .swiper-pagination-bullet:nth-child(2):before {
  content: "Sinchon";
}
.locations .locations-title .swiper-pagination .swiper-pagination-bullet:nth-child(3):before {
  content: "Dongdaemun";
}
.locations .locations-title .swiper-pagination .swiper-pagination-bullet:nth-child(4):before {
  content: "Sinseol";
}
.locations .locations-title .swiper-pagination .swiper-pagination-bullet:nth-child(5):before {
  content: "Soongin";
}

/* locations-menu active */
.locations .locations-title .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
  color: white;
}

/* locations-slide */
.locations .main-slide {
  overflow: hidden;
}
.locations .main-slide .swiper-wrapper {
  width: 100%;
  height: 74.7201vh;
  display: flex;
  flex-direction: row;
}
.locations .main-slide .swiper-wrapper .swiper-slide {
  background-color: #FFF;
  width: 50%;
  height: 100%;
  border-right: 1px solid #000;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.locations .main-slide .swiper-wrapper .swiper-slide .slide-link {
  display: block;
  width: 100%;
  height: 60%;
}
.locations .main-slide .swiper-wrapper .swiper-slide .slide-link span {
  height: 100%;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}
.locations .main-slide .swiper-wrapper .swiper-slide .slide-link span img {
  height: 100%;
  transition: 0.2s;
}
.locations .main-slide .swiper-wrapper .swiper-slide .tab-txt {
  text-align: center;
  width: 65%;
  margin-top: 35px;
}
.locations .main-slide .swiper-wrapper .swiper-slide .tab-txt h3 {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 1.406rem;
}
.locations .main-slide .swiper-wrapper .swiper-slide .tab-txt p {
  padding: 0 16px;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
  word-break: keep-all;
}
.locations .main-slide .swiper-wrapper .swiper-slide div:first-child {
  width: 65%;
  margin: 0 auto 25px;
}
.locations .main-slide .swiper-wrapper .swiper-slide > div img {
  width: 100%;
}

/* community */
.community {
  background-color: var(--bg-color-yellow);
  border-bottom: 1px solid #000;
  padding-top: 32px;
}
.community span {
  font-family: var(--font-en);
}
.community .content-wrapper .contents-title {
  padding: 0 16px 0;
} 
.community .content-wrapper .contents-des {
  padding: 0 16px 16px;
  margin-bottom: 16px;
}
.community > img {
  padding: 0;
  width: 100%;
  aspect-ratio: 2 / 1;
  border-bottom: 1px solid #000;
}
.community .content-container .contents-des {
  padding: 22px 16px;
  margin: 0;
  border-bottom: 1px solid #000;
  word-wrap: break-word;
  font-size: var(--main-font-18);
}
.community .community-list li {
  border-bottom: 1px solid #000;
  padding: 16px;
  word-break: keep-all;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
}
.community .community-list h4 {
  font-family: var(--font-en);
  font-weight: 700;
  font-size: var(--main-font-middle);
  padding-bottom: 3px;
}
.community .community-img {
  padding: 5%;
  margin: 0 auto;
  width: 90%;
}
.community .community-img img {
  width: 100%;
  aspect-ratio: 2100 / 1879;
}
.community .more-btn {
  position: relative;
  margin: 10px 0 0 6px;
  transition: 0.3s;
}

/* journal */
.journal {
  padding: 32px 0 48px 0;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
.journal span {
  font-family: var(--font-en);
}
.journal .journal-title {
  padding: 0 16px 0 16px;
}
.journal .journal-title .contents-title {
  line-height: 1.2;
}
.journal .sub-slide {
  width: 100%;
}
.journal .sub-slide .swiper-wrapper {
  width: 100%;
  height: 100%;
  padding: 16px 16px 0;
  display: flex;
}
.journal .sub-slide .swiper-wrapper .swiper-slide {
  width: 56%;
  height: 56%;
  margin-right: 20px;
  word-break: keep-all;
  flex-shrink: 0;
}
.journal .sub-slide .swiper-wrapper .swiper-slide li:first-child {
  position: relative;
}
.journal .sub-slide .swiper-wrapper .swiper-slide .post-img img {
  object-fit: cover;
  aspect-ratio: 1;
}
.journal .sub-slide .swiper-wrapper .swiper-slide .journal-icon {
  background-color: var(--point-color-lightGreen);
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.journal .sub-slide .swiper-wrapper .swiper-slide .journal-icon img {
  width: 100%;
  height: 100%;
}
.journal .sub-slide .swiper-wrapper .swiper-slide .post-title {
  padding-top: 3px;
  margin-top: 10px;
  font-size: var(--main-font-middle);
  font-weight: 900;
  line-height: 1.4;
}
.journal .sub-slide .swiper-wrapper .swiper-slide li:last-child {
  font-size: var(--main-font-15);
  font-weight: 500;
  line-height: 1.6;
}
.journal .more-btn {
  font-size: var(--main-font-16);
  padding-left: 16px;
  margin-top: 7px;
  transition: 0.3s;
}

/* faq */
.faq {
  background-color: #E5F0F2;
  padding: 32px 16px 32px;
  border-bottom: 1px solid #000;
}
.faq .contents-title {
  line-height: 1.6;
}
.faq .faq-list {
  padding-top: 10px;
  margin-bottom: 16px;
}
.faq .faq-list span {
  font-family: var(--font-en);
}
.faq .faq-list > li {
  border-top: 1px solid #000;
  padding: 16px 0 13px;
  background: url(../images/index/plus-icon.svg) no-repeat 100% / cover;
  background-size: 20px 20px;
}
.faq .faq-list .list-title {
  font-size: var(--main-font-middle);
  font-weight: 900;
  padding-right: 50px;
}
.faq .faq-list .list-txt {
  height: 0;
  transition: 0.5s;
  display: none;
}

/* faq.on */
.faq .faq-list > li.on {
  background: none;
}
.faq .faq-list > li:nth-child(1).on .list-txt {
  height: auto;
  word-wrap: break-word;
  padding: 15px 15px 0 0;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
  display: block;
}
.faq .faq-list > li:nth-child(2).on .list-txt {
  height: auto;
  word-wrap: break-word;
  padding: 15px 15px 0 0;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
  display: block;
}
.faq .faq-list > li:nth-child(3).on .list-txt {
  height: auto;
  word-wrap: break-word;
  padding: 15px 15px 0 0;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
  display: block;
}
.faq .faq-list > li:nth-child(4).on .list-txt {
  height: auto;
  word-wrap: break-word;
  padding: 15px 15px 0 0;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
  display: block;
}
.faq .faq-list > li:nth-child(5).on .list-txt {
  height: auto;
  word-wrap: break-word;
  padding: 15px 15px 0 0;
  font-weight: 500;
  font-size: var(--main-font-15);
  line-height: 1.6;
  display: block;
}

.faq .faq-list .faq-list-link {
  color: #2EA3F2;
}

/* subs */
.subs {
  background-color: var(--bg-color-mint);
  padding: 32px 16px 16px;
}
.subs form {
  margin-bottom: 16px;
}
.subs h3 {
  word-wrap: break-word;
  font-size: 1.25rem;
  font-weight: 900;
  padding-bottom: 10px;
  margin-bottom: 16px;
}
.subs ul li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: var(--main-font-15);
}
.subs ul li:nth-child(1) input, 
.subs ul li:nth-child(2) input {
  width: 100%;
  padding: 9px;
  font-size: 1.063rem;
  font-family: var(--font-en);
  border: 2px solid var(--main-color);
}
.subs ul li:nth-child(3) {
  padding-bottom: 22px;
}
.subs ul li:nth-child(3) span {
  padding: 1px 6px;
  color: var(--point-color-green);
  font-weight: 700;
  font-size: var(--main-font-16);
}
.subs ul li:nth-child(3) input {
  width: 15px;
  height: 15px;
  margin: 3px 3px 0 0;
}
.subs button {
  text-decoration: none;
  width: 100%;
  height: 45px;
  background-color: var(--main-color);
  color: var(--bg-color-mint);
  font-family: var(--font-ko);
  font-size: 1.063rem;
  font-weight: 700;
}
.subs .subs-img {
  display: block;
  padding: 5% 30% 0 22%;
  margin-bottom: 16px;
  width: 100%;
}
.subs .subs-img img {
  width: 100%;
  aspect-ratio: 1160 / 1126;
}

/* main slide img ani */
@keyframes mainSlideImg {
  0% {
    background: url(../images/index/main_img_1.png) no-repeat 50% / cover;
    background-size: 95% 90%;
  }
  8% {
    background: url(../images/index/main_img_2.png) no-repeat 50% / cover;
    background-size: 95% 90%;
  }
  16% {
    background: url(../images/index/main_img_3.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  24% {
    background: url(../images/index/main_img_4.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  36% {
    background: url(../images/index/main_img_5.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  40% {
    background: url(../images/index/main_img_6.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  48% {
    background: url(../images/index/main_img_7.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  56% {
    background: url(../images/index/main_img_8.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  64% {
    background: url(../images/index/main_img_9.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  72% {
    background: url(../images/index/main_img_10.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  80% {
    background: url(../images/index/main_img_11.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  88% {
    background: url(../images/index/main_img_12.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
  100% {
    background: url(../images/index/main_img_13.png) no-repeat 50% / cover;
  background-size: 95% 90%;
  }
}