@charset "utf-8";

/***** common *****/
.membership a,
.cor-programs a {
  display: block;
  text-align: center;
  width: 100%;
  margin: 30px 0 40px;
  padding: 25px 1em;
  font-size: var(--btn-font);
  font-weight: 900;
}

/***** section-overview *****/
.overview p {
  margin-bottom: 1em;
}

/***** section-work-lounge *****/
.work-lounge .zone-wrapper {
  padding-bottom: 30px;
  margin-bottom: 16px;
}

/***** section-stay *****/
.room {
  border-bottom: 1px solid black;
}

/***** section-AnS *****/
.AnS {
  border-bottom: none;
}

/***** section-membership *****/
.membership {
  background-color: var(--bg-color-lightMint);
}
.membership p {
  padding-bottom: 40px;
}
.membership-wrapper {
  background-color: var(--bg-color-yellow);
  display: grid;
  grid-template-rows: 1fr repeat(4, 3fr);
  justify-items: center;
  border: 1px solid black;
  color: var(--point-color-purple);
}
.membership-wrapper .membership-logo {
  display: flex;
  align-items: center;
}
.membership-wrapper .membership-logo img {
  height: 105px;
}
.membership-wrapper .membership-desc {
  width: 100%;
  border: 1px solid black;
  padding: 0 16px;
}
.membership-wrapper .membership-desc .membership-title {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 16px;
}
.membership-wrapper .membership-desc .membership-title strong:first-child {
  font-size: 1.406rem;
}
.membership-wrapper .membership-desc .membership-title strong:last-child {
  font-size: var(--main-font-middle);
}
.membership-wrapper .membership-desc img {
  width: 60%;
  margin-left: 20%;
}
.membership-wrapper .membership-desc p {
  padding: 0 30px 30px;
  margin-bottom: 16px;
  font-size: var(--main-font-18);
}
.membership .member a {
  background-color: var(--point-color-purple);
  color: white;
}
.membership .book {
  background-color: white;
  padding: 30px 20px 20px;
  border: 1px solid black;
}
.membership .member .member-btn {
  font-family: var(--font-en);
  font-size: var(--btn-font);
  margin: 30px 0 40px;
  font-weight: 900;
  width: 100%;
  padding: 0.6em 1em;
  text-align: center;
}
.membership .book .book-btn {
  border: 3px solid var(--point-color-purple);
  color: var(--point-color-purple);
  font-family: var(--font-en);
  font-size: var(--btn-font);
  margin: 30px 0 40px;
  font-weight: 900;
  width: 100%;
  padding: 0.6em 1em;
  text-align: center;
}
.membership .member .member-btn:hover {
  background-color: var(--point-color-lightGreen);
}
.membership .book .book-btn:hover {
  transform: scaleX(1.05);
  background-color: var(--point-color-lightGreen);
  color: var(--point-color-purple);
  border: 3px solid var(--point-color-lightGreen);
}

/***** section-corPrograms *****/
.cor-programs {
  background-color: var(--bg-color-lightMint);
}
.cor-programs .inquiry-btn {
  background-color: var(--main-color);
  color: var(--point-color-lightGreen);
  font-family: var(--font-en);
}
.cor-programs .program-txt strong {
  padding-bottom: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}
.cor-programs .program-txt p {
  font-weight: 400;
}

/***** section-neighbor*****/
.neighbor {
  background-color: var(--bg-color-yellow);
  border-top: none;
}
