@charset "UTF-8";

/***** font *****/
/* 'Noto Sans Korean', 'Work Sans' */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;900&family=Work+Sans:wght@500;600;700;900&display=swap");

/* 'Montserrat'  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");

/***** 변수 *****/
:root {
  /* font-family */
  --font-ko: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    helvetica, "Apple SD Gothic Neo", sans-serif;
  /*   --font-en: "Work Sans", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    helvetica, "Apple SD Gothic Neo", sans-serif; */
  --font-en: "Montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    helvetica, "Apple SD Gothic Neo", sans-serif;

  /* mobile-font-size */
  --title-font-lage: 2.625rem; /* 42px */
  --title-font: 1.875rem; /* 30px */
  --title-font-small: 1.46484375rem; /* 23.4375px */
  --title-font-middle: 2.109rem; /* 33.75px */
  --hd-font: 1.563rem; /* 25px */
  --hd-font-small: 0.833rem; /* 13.3333px */
  --ft-font: 0.875rem; /* 14px */
  --ft-font-small: 0.82rem; /* 13.125px */
  --btn-font: 1.7578125rem; /* 28.125px */
  --text-font: 1.265625rem; /* 20.25px */
  --post-font-title: 1.6875rem; /* 27px */
  --main-font-18: 1.125rem; /* 18px */
  --main-font-middle: 1.055rem; /* 16.875px */
  --main-font-16: 1rem; /* 16px */
  --main-font-15: 0.938rem; /* 15px */

  /* color */
  --main-color: #1f1e1d;
  --faq-bg-color: #f1efeb;
  --bg-color-lightBlue: #e5f0f3;
  --bg-color-blue: #405abe;
  --bg-color-yellow: #fcf5db;
  --bg-color-mint: #d5fcdf;
  --bg-color-lightMint: #e6f7ec;
  --bg-color-purple: #605aff;
  --point-color-green: #00b453;
  --point-color-lightGreen: #09c15e;
  --point-color-purple: #b03bd4;
  --ft-font-color: #b1b1b1;
}

/***** 부드러운 스크롤 *****/
html {
  scroll-behavior: smooth;
  font-family: var(--font-ko);
}
